* {
    background: rgb(34, 39, 46);
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

a {
    color: rgb(0, 195, 255);
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: rgb(255, 0, 255);
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

img {
    padding: 10px 10px;
    width:400px;
    height:auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgb(122, 122, 122);
}

.navbar a {
    color: white;
    background-color: rgb(122, 122, 122);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(34, 39, 46);
    color: white;
}

.imgbox {
    display: grid;
    height: 50%;
    padding: 10px 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.container {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 60%;
    padding-top: 33.75%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .container {
        margin: auto;
        position: relative;
        overflow: hidden;
        width: 95%;
        padding-top: 53.44%;
    }
}